.hex {
  position: relative;
  margin: 1em auto;
  width: 10rem;
  height: 17.32rem;
  border-radius: 1em/0.5em;
  background: var(--button-color);
  transition: opacity 0.5s;
  animation: slide 3s infinite;
}
.newSlide {
  transition: opacity 0.5s;
  animation: slideV 3s infinite;
}
@keyframes slideV {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
